body{
    background-color: powderblue;
}
#size{
    width: 1330px;
    height: 400px;
    padding-right: 10px;
}
#alin{
    text-align: center;
}
.flex{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

#pp2{
    width: 600px;
    height: 250px;
}
.pp3{
    margin-top: 30px;
}
#doses{
    padding-left: 10px;
}
.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 650px;
    height: 300px;
}
.box{
    padding: 10px;
    box-shadow: 15px 15px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
#grad1{
    border-left: 7px solid;
    border-image: linear-gradient( red, tomato);
    border-image-slice:  1;
}
#grad2{
    border-left: 7px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice:  1;
}
footer{
    text-align: center;
}