body{
    background-color: powderblue;
}
#size{
    width: 1330px;
    height: 400px;
    padding-right: 10px;
}
#alin{
    text-align: center;
}
.flex{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
}

#pp2{
    width: 600px;
    height: 250px;
    margin-left: 20px;
}
.pp3{
    margin-top: 30px;
    margin-left: 20px;
}
#doses{
    padding-left: 10px;
}
.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}